.SearchForWeather{
  &__input{
    margin-bottom: 10px;

    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #8ba68f;

    color: #333;
    font-family: 'Open Sans', sans-serif;
  }
}