.App {
  background: #346333;
  color:#666;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
}

.pageHeader{
  background: #D2F777;
}
.pageHeader__item{
  color: #666;
  padding: 20px;
  text-decoration: none;
  font-weight: 300;
  font-size: 1,5rem;
}